---
interface Props {
  class?: string;
  color: BadgeColor;
}

export type BadgeColor = "red" | "yellow" | "green";

const colors = {
  red: "bg-red-500 dark:bg-red-500 hover:bg-red-600 dark:hover:bg-red-600",
  yellow:
    "bg-yellow-500 dark:bg-yellow-400 hover:bg-yellow-600 dark:hover:bg-yellow-500",
  green:
    "bg-green-500 dark:bg-green-400 hover:bg-green-600 dark:hover:bg-green-500",
  gray: "bg-gray-900 dark:bg-gray-50",
};

const { class: className, color } = Astro.props;
---
<div class:list={[
                "inline-flex items-center px-2.5 py-0.5",
                "rounded-full border border-gray-200 transition-colors border-transparent",
                "text-xs font-semibold text-gray-50 dark:text-gray-900",
                "focus:outline-none focus:ring-2 focus:ring-gray-950 focus:ring-offset-2",
                "dark:border-gray-800 dark:focus:ring-gray-300",
                colors[color] || colors["gray"],
                className
                ]}>
    <slot />
</div>
