---
interface Props {
  class: string | undefined;
  title: string
  id: string | undefined
}

const { class: className, title, ...rest } = Astro.props;
---
<div class="border-b border-gray-500 p-2">
  <div class="text-sm">{title}:</div>
  <input class="w-full text-sm dark:bg-gray-800 px-2 rounded-sm" class={className} {...rest} />
</div>