---
import Skeleton from "./skeleton.astro"

interface Props {
    title: string
    class?: string
    id?: string
    name?: string
    type: string
    loading?: boolean
}

const { class: className, title, loading, type, ...rest } = Astro.props;
---
<div class="border-b border-gray-500 p-2">
    <div class="text-sm">{title}:</div>
    { loading ?
    <div class="mt-1"><Skeleton class="rounded-sm" /></div> :
    <input aria-label={title} type={type} class="w-full text-sm dark:bg-gray-800 px-2 rounded-sm" class={className} {...rest} />
    }
</div>
