---
import * as z from 'zod';
const { request } = Astro;
import { db, eq, Parties } from 'astro:db';

console.info("Deleting Party Request")

const url = new URL(request.headers.get("Hx-Current-Url") || "")
const id = parseInt(url.searchParams.get("id") || "")

if (!id) {
  console.info("id missing")
  return new Response(JSON.stringify({message: "bad request"}),{status: 400})
}

try {
  console.info("Deleting party...")
  const party = await db.delete(Parties).where(eq(Parties.id, id)).returning()
  console.info("Party deleted: " + JSON.stringify(party))

  if (party[0].id != id) {
    throw new Error("Party not found")
  }

  return new Response(JSON.stringify({ ok: true }), {
    status: 200,
    headers: {
      "hx-redirect": `/`,
    },
  })
} catch(error) {
  console.error(`Couldnt delete party ${id}`)
}

function parseError() {
  return ":("
}
---
<div class="text-red-500">{parseError()}</div>
