---
import {db, Tasks, eq} from "astro:db";
import {toastResponse, ToastError} from "../../../components/toast.astro"
import { getPartyIdOrThrowToast } from "../../../utils/input.astro"
import StatusBadge from "../../../components/statusBadge.astro"
import type {Status} from "../../../components/statusBadge.astro"

const { request } = Astro

let tasks = []
try {
  const id = getPartyIdOrThrowToast(request)

  tasks = await db.select().from(Tasks).where(eq(Tasks.partyId, id));
} catch(error) {
  if (error instanceof ToastError) {
    return toastResponse(error.level, error.message)
  }
  return toastResponse("error", "Something went wrong. :(", 500)
}
---
{tasks.map((t, index) =>
<div id={index.toString()} class="flex items-center justify-between border-b border-gray-500 p-2">
  <div class="text-sm">{t.title || "?"}</div>
  <StatusBadge status={t.status as Status} />
  </div>
)}
