---
import {db, Participants, eq} from "astro:db";

const { request } = Astro
const url = new URL(request.headers.get("Hx-Current-Url") || "")
const id = parseInt(url.pathname.split("/")[1] || "")

if (!id ) {
  return new Response(JSON.stringify({message: "bad request"}),{status: 400})
}

const participants = await db.select().from(Participants).where(eq(Participants.partyId, id));
---
{participants.map((p) =>
  <div key={p.id} class="border-b border-gray-500 p-2">
    <div class="text-sm">{p.name || "?"} ({p.email})</div>
  </div >
)}
