.toast {
  @apply w-full text-left text-sm p-2 border border-solid border-black border-b-2 border-t-2 rounded-lg shadow-md cursor-pointer;
}

.toast-success {
  @apply bg-green-100 text-green-700 border-green-700;
}

.toast-warning {
  @apply bg-yellow-200 text-yellow-800 border-yellow-800;
}

.toast-danger {
  @apply bg-red-100 text-red-900 border-red-700;
}


.animate-slide-in-from-bottom {
  animation: slide-in-from-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.96) both;
}

@keyframes slide-in-from-bottom {
  0% {
    transform: translateY(200%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
