---
import Layout from "../layouts/Layout.astro";
---
<Layout>
    <main class="flex min-h-screen flex-col items-center justify-between">
    <div class="flex flex-col items-center justify-center min-h-screen mt-auto">
      <div class="flex flex-col justify-center items-center p-4 dark:bg-gray-900 bg-gray-200 rounded-sm ">
        <div>
          There is nothing here. Take a taxi!
        </div>
          <a href="/"><button class="dark:bg-gray-600 bg-gray-100 p-2 rounded-lg text-5xl mt-6">🚕</button></a>
        </div>
    </div>
  </main>
</Layout>
