---
import PartyDetails from "../components/content/partyDetails.astro";
import Input from "../components/mini/input.astro";
import SubmitButton from "../components/submitButton.astro";
import PageLayout from "../layouts/PageLayout.astro";
import Scrollable from "../layouts/Scrollable.astro";

const defaultValues = {
  title: "25th Birthday",
  description: "Lets go hard",
  location: "Dunenberg",
  date: "2022-05-05",
};

export const prerender = true;
---

<PageLayout title="Create Party">
  <form
    hx-post="/server/party/create"
    hx-swap="none"
  >
    <Scrollable>
      <PartyDetails loading={false} {...defaultValues} />
    </Scrollable>

    <SubmitButton>
      Ok
    </SubmitButton>
  </form>
</PageLayout>
