---
import Input from "../components/mini/input.astro";
import SubmitButton from "../components/submitButton.astro";
import PageLayout from "../layouts/PageLayout.astro";
import Scrollable from "../layouts/Scrollable.astro";

export const prerender = true;
---

<PageLayout title="Create Party">
  <form
    hx-post="/server/party/create"
    hx-swap="none"
  >
    <Scrollable>
      <Input name="title" title="Title" value="25th Birthday" />
      <Input name="description" title="Description" value="Lets go hard" />
      <Input name="location" title="Where" value="Dunenberg" />
      <Input name="date" title="When" value="2022-05-05" />
    </Scrollable>

    <SubmitButton>
      Ok
    </SubmitButton>
  </form>
</PageLayout>
