---
import Input from "../components/mini/input.astro";
import SubmitButton from "../components/submitButton.astro";
import PageLayout from "../layouts/PageLayout.astro";
import Scrollable from "../layouts/Scrollable.astro";

export const prerender = true;
---

<PageLayout title="Create Party">
  <form
    hx-post="/server/party/create"
    hx-target="#action-response"
  >
    <Scrollable>
      <Input name="title" title="Title" class="w-full rounded-sm dark:bg-gray-800" type="text" value="25th Birthday"></Input>
      <Input name="description" title="Description" class="w-full rounded-sm dark:bg-gray-800" type="text" value="Lets go hard"></Input>
      <Input name="location" title="Where" class="w-full rounded-sm dark:bg-gray-800" type="text" value="Dunenberg"></Input>
      <Input name="date" title="When" class="w-full rounded-sm dark:bg-gray-800" type="text" value="2022-05-05"></Input>
      <div id="action-response" class ="m-2"></div>
    </Scrollable>

    <SubmitButton>
      Ok
    </SubmitButton>
  </form>
</PageLayout>
