---
import {db, Parties} from "astro:db";
const parties = await db.select().from(Parties);
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<h1>Astro</h1>
                Parties:
                <ul>
                {parties.map((party) => <li>{party.title}</li>)}
                </ul>
	</body>
</html>
