---
import "../styles/global.css";
import Layout from  "../layouts/PageLayout.astro"

import {db, Parties} from "astro:db";
const parties = await db.select().from(Parties);
---

<Layout title="Parties">
  <ul class="mt-2">
    {parties.map((party) => <li>{party.title}</li>)}
  </ul>
</Layout>
