---
import "../styles/global.css";
import Layout from  "../layouts/PageLayout.astro"
---

<Layout title="Participants" left="/details">
    <div
        hx-trigger="load"
        hx-get="/server/participants/read"
    >
    </div>
</Layout>
