---
interface Props {
  class?: string;
  url: string;
}

const { class: className, url } = Astro.props;
---
<div class="p-2">
  <button
    aria-label="Delete"
    class="bg-red-600 text-gray-100 rounded-sm w-full"
    hx-post={url}
    hx-swap="none"
    type="button"
  >
    -
  </button>
</div>
