---
interface Props {
  class: string | undefined;
  id: string | undefined
}

const { class: className, ...rest } = Astro.props;
---
<button class="disabled:bg-gray-800 bg-blue-700 text-gray-200 rounded-b-lg w-full h-8 flex justify-center items-center" type="submit" {...rest}>
  <slot />
</button>
