---
interface Props {
  title: string
  buttonId: string
  id?: string
}

const { title, buttonId } = Astro.props;

const id = Astro.props.id || `${title.replaceAll(" ", "")}Modal`
---
<dialog data-modal class="backdrop:bg-white bg-white dark:backdrop:bg-black dark:bg-black" id={id}>
  <div class="mb-4 flex w-80 my-auto mx-auto">
    {/* TODO solve this problem with the width, creates a zone where the outside click wont close*/}
    <div class="flex w-7 mr-2" />
    <div class="w-full modal-content h-96">
      <div class="mb-4">
        <div class="w-full dark:bg-gray-900 bg-gray-100 dark:border-gray-800 p-2 rounded-lg text-center border">
          <div class="flex justify-between">
            <>{title}</>
            <button class="" id="closeModalButton">
              ✖
            </button>
          </div>
        </div>
      </div>
      <div class="rounded-lg border dark:bg-gray-900 bg-gray-100 dark:text-gray-100 text-gray-900 dark:border-gray-800 border-gray-200">
        <slot />
      </div>
      <div class="w-2" />
    </div>
    <div class="flex w-7 mr-2" />
  </div>
</dialog>

<script is:inline define:vars={{ buttonId, id }}>
 const modal = document.getElementById(id);

 document.getElementById(buttonId).addEventListener('click', () => {
   modal?.showModal()
 });
 document.getElementById("closeModalButton").addEventListener('click', () => {
   modal?.close()
 });

 window.onclick = function(event) {
  if (event.target == modal) {
    modal?.close();
  }
 }
</script>
