---
import DeleteButton from "../../components/deleteButton.astro";
import PartyDetails from "../../components/content/partyDetails.astro";
import SubmitButton from "../../components/submitButton.astro";
import Layout from "../../layouts/PageLayout.astro";
import Scrollable from "../../layouts/Scrollable.astro";
---

<Layout title="Details" right="participants">
  <form
    hx-post="/server/party/update"
    hx-swap="none"
  >
    <Scrollable>
      <div
        hx-trigger="load"
        hx-get="/server/party/read"
        hx-target="#content"
        hx-swap="inner"
      ></div>
      <div id="content">
        <PartyDetails loading={true}>
      </div>

      <DeleteButton url="/server/party/delete" />
    </Scrollable>

    <SubmitButton>
      Ok
    </SubmitButton>
  </form>
</Layout>
