---
import PartyDetails from "../../components/forms/partyDetails.astro";
import SubmitButton from "../../components/submitButton.astro";
import Layout from "../../layouts/PageLayout.astro";
import Scrollable from "../../layouts/Scrollable.astro";
---

<Layout title="Details" right="participants">
  <div
    hx-trigger="load"
    hx-get="/server/party/read"
    hx-target="#content"
  >
  </div>

  <form
    hx-post="/server/party/update"
    hx-swap="none"
  >
    <Scrollable>
      <div id="content">
         <PartyDetails loading={true}>
      </div>

      <div class="p-2">
        <button
          aria-label="Delete Party"
          class="bg-red-600 text-gray-100 rounded-sm w-full"
          hx-post="/server/party/delete"
          hx-swap="none"
          type="button"
        >
          Delete
        </button>
      </div>
    </Scrollable>

    <SubmitButton>
      Ok
    </SubmitButton>
  </form>
</Layout>
